.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(252, 241, 241);
  background: radial-gradient(
    circle,
    rgba(252, 241, 241, 1) 0%,
    rgba(255, 213, 205, 1) 100%
  );
}
